.Rproj.user
.Rhistory
.RData
.Ruserdata
calibration/fits/*.rds
.~lock*
.DS*
data-raw/1976-2001_DJFMP_trawl_fish_and_water_quality_data.csv
data-raw/chipps-trawls.rds
data-raw/stray-eda/wetransfer_sturrock-et-al/*
data-raw/stray-eda/CSV*
